@model LLWP_Core.ViewModels.TTryPetTableVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_tryPet.cshtml";
}

<div class="d-flex" style="margin-top:50px">
    <div>
        <nav class="nav flex-column booking-nav" style="width:170px">
            <a class="nav-link book-nav-link" href="/chart/ChartList">報表</a>
            <a class="nav-link book-nav-link" href="/calendar/CalendarList">訂房狀態月曆</a>
            <a class="nav-link book-nav-link" href="/roomOrder/List">試住訂單管理</a>
            <a class="nav-link book-nav-link" href="/tryPet/List" style="color:#d35a5d">寵物試養計畫</a>
            <a class="nav-link book-nav-link" href="/activityBack/index">活動管理</a>
            <a class="nav-link book-nav-link" href="/tryPet/Index">登出</a>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="d-flex">
            <h2 class="edit-title">新增試養寵物資料</h2>
            <div style="margin-top:8px; margin-left:10px;">
                @Html.ActionLink("回到試養寵物資料表", "List", "tryPet", null, new { @class = "back-link" })
            </div>
        </div>

        @using (Html.BeginForm("Create", "tryPet", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal create-form">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetNum, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tryPetTable.FTryPetNum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tryPetTable.FTryPetNum, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetName, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tryPetTable.FTryPetName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tryPetTable.FTryPetName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetVar, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10 create-radio">
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetVar, "貓")
                        貓
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetVar, "狗")
                        狗
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetAge, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tryPetTable.FTryPetAge, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tryPetTable.FTryPetAge, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetWei, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tryPetTable.FTryPetWei, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tryPetTable.FTryPetWei, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetSex, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10 create-radio">
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetSex, "公")
                        公
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetSex, "母")
                        母
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetNature, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tryPetTable.FTryPetNature, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tryPetTable.FTryPetNature, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetVac, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10 create-radio">
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetVac, "是")
                        是
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetVac, "否")
                        否
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetFix, htmlAttributes: new { @class = "control-label col-md-2 create-label" })
                    <div class="col-md-10 create-radio">
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetFix, "是")
                        是
                        @Html.RadioButtonFor(model => model.tryPetTable.FTryPetFix, "否")
                        否
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    @Html.LabelFor(model => model.tryPetTable.FTryPetPhoto, htmlAttributes: new { @class = "control-label col-md-2 file-label" })
                    <div class="col-md-10 file-fImage">
                        <input type="file" name="fImage" />
                    </div>
                </div>

                <div class="form-group d-flex my-4">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="新增" class="btn btn-warning save-btn" style="display:block;" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
